.amarillo{
	background-color: yellow;
	border: 1px solid yellow;
}
.rojo{
	background-color: red;
	border: 1px solid red;
	display: inline-block;
}
div{
	height: 50%;
	width: 30%;
	font-size: 150%;
	margin-top: 1%;
	display: inline-block;
}
p{
	height: 40%;
	width: 50%;
	display: inline;
}
.p1{
